.searchArea {
  background-color: white;
}

.tableArea {
  padding: 20px 10px;
}

.actionArea {
  padding: 10px;
}

.container {
  :global {
    .ant-btn {
      margin-right: 8px;
      margin-bottom: 12px;
    }
    .ant-btn-group > .ant-btn {
      margin-right: 0;
    }
  }
}
