.flexcenter {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detailsArea {
  padding: 20px 10px;
}

.cardCover {
  .ant-card-body {
    padding: 0 !important;
  }
}

.medicalArea {
  display: flex;
  justify-content: center;
}
