.flexcenter {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.medicalArea {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -1300px;
}

.detailsArea {
  padding: 20px 10px;
}

.locationShow {
  width: 60px;
  padding: 10px;
}

.checkContent {
  margin-top: 20px;
}

.listItem {
  display: grid;
  grid-template-columns: 100px 200px 200px 200px 200px 200px;
}

.listArea {
  text-align: center;
}

.chargeModalArea {
  display: flex;
  flex-direction: row;
  .chargeListLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chargeDetailRight {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 100%;
    padding: 10px;
    border-left: 1px solid #808080 85%;
  }
}
